* {
	scroll-behavior: auto;
}

body {
	background-color: rgb(26, 26, 26);
}

.fondo1 {
	background-image: url(ImgsV8/resort.jpg);
	width: 1366px;
	height: 768px;
	margin-bottom: 20px;
	/*
	max-width: 1920px;
	max-height: 1080px;
	*/
}

.fondo2 {
	background-image: url(ImgsV8/playa.jpeg);
	width: 1366px;
	height: 768px;
	margin-top: 25px;
	/*
	max-width: 1920px;
	max-height: 1080px;
	*/
}

.nav1 {
	background-color: rgb(26, 26, 26);
	width: 980px;
	height: 80px;
	margin: auto;
	margin-top: -700px;
	text-align: center;
	font-size: 17px; 
}

img {
	width: 1366px;
	height: 768px;
}

.tema1 {
	font-family: ;
	color: rgb(80, 180, 80);
	text-align: center;
	font-size: 35px;
}

.txt1 {
	color: rgb(250, 250, 250);
	text-align: center;
	margin-top: -35px;
}

.botonwhats{
	color: lime;
	font-size: 60px;
	margin-left: 50px;
}



