* {
	scroll-behavior: auto;
}
/*
@media only screen and(max-widht: 800px) {
	body {
		display: block;
	}
}
*/
body {
	background-color: white;
}

.fondo1 {
	background-image: url(ImgsV8/resort.jpg);
	width: 1366px;
	height: 768px;
}

.fondo2 {
	background-image: url(ImgsV8/playa.jpeg);
	width: 1366px;
	height: 1450px;
	margin-top: 200px;
}

.fondo3 {
	background-color: white;
	width: 1366px;
	height: 768px;
	margin-top: 100px;
}

.nav-off {
	background-color: white;
	width: 980px;
	height: 80px;
	margin: auto;
	margin-top: -700px;
	text-align: center;
	font-size: 18px; 
	position: sticky;
	top: 0px;
}

.links1 {
	display: block;
	margin-left: -562px;
	margin-top: -50px;
}

.links2 {
	display: block;
	margin-left: -280px;
	margin-top: -20px;
}

.links3 {
	display: block;
	margin-right: 71px;
	margin-top: -20px;
}

.links3 {
	display: block;
	margin-left: 100px;
	margin-top: -20px;
}

.links4 {
	display: block;
	margin-left: 275px;
	margin-top: -20px;
}

.links5 {
	display: block;
	margin-left: 500px;
	margin-top: -20px;
}

.links6 {
	display: block;
	margin-left: 840px;
	margin-top: -20px;
}

.home {
	width: 150px;
	height: 80px;
	display: block;
	margin-left: 6px;
	margin-bottom: -25px;
}

.tema1 {
	font-family: ;
	color: #248592;
	text-align: center;
	font-size: 35px;
	margin-top: 780px;
}

.txt1 {
	color: #252525;
	text-align: center;
	margin-top: -35px;
	margin: 0px 0px 15px;
	font-size: 22px;
}

.sub-img1 {
	background-image: url(ImgsV8/m1.jpeg);
	width: 450px;
	height: 400px;
	margin-left: 100px;
	margin-top: 71px;
}

.cont-sub1 {
	width: 550px;
	height: 400px;
	margin-left: 700px;
	margin-top: -388px;
}

.tit-sub1 {
	font-size: 26px;
	margin-bottom: 50px;
	text-align: center;
	color: #252525;
}

.txt-sub1 {
	font-size: 20px;
	text-align: justify;
	color: #252525;
	margin: 0px 0px 15px;
}

.info-sub1 {
	background-color: white;
	margin: 0px 10px 15px 0px;
	margin-left: 225px;
	width: 150px;
	height: 50px;
	align-items: center;
}

.bene-money {
	margin-top: -1400px;
	text-align: center;
	font-size: 70px;
	color: white;

}

.bene1 {
	background-image: url(ImgsV8/m2.jpeg);
	width: 349px;
	height: 333px;
	margin-top: 50px;
	margin-left: 150px;
}

.cont-bene1 {
	background-color: #637935;
	width: 349px;
	height: 333px;
	margin-left: 499px;
	margin-top: -335px;
	padding-left: 11px;
	padding-right: 11px;
}

.txt-bene1 {
	padding-top: 100px;
	text-align: center;
	font-size: 21px;
	color: white;
}

.bene2 {
	background-image: url(ImgsV8/m3.jpeg);
	width: 339px;
	height: 298px;
	margin-left: 875px;
	margin-top: -335px;
}

.cont-bene2 {
	background-color: #d8d0d5;
	width: 339px;
	height: 298px;
	margin-left: 875px;
	padding-top: 50px;
	padding-left: 11px;
	padding-right: 11px;
}

.tema-bene {
	font-size: 26px;
	text-align: center;
}

.txt-bene2 {
	text-align: center;
	font-size: 21px;
	color: #252525;
}

.bene3 {
	background-image: url(ImgsV8/m4.jpeg);
	width: 350px;
	height: 413px;
	margin-left: 500px;
	margin-top: -240px;
}

.cont-bene3 {
	background-color: #ece9e4;
	width: 350px;
	height: 413px;
	margin-left: 150px;
	margin-top: -415px;
	padding-top: 100px;
	padding-left: 11px;
	padding-right: 11px;
}

.tema-bene {
	font-size: 26px;
	text-align: center;
}

.txt-bene3 {
	text-align: center;
	font-size: 21px;
	color: #252525;
}

.bene4 {
	background-image: url(ImgsV8/m5.jpeg);
	width: 348px;
	height: 332px;
	margin-left: 150px;
	margin-top: 25px;
}

.cont-bene4 {
	background-color: #331f14;
	width: 348px;
	height: 332px;
	margin-left: 498px;
	margin-top: -330px;
	padding-left: 11px;
	padding-right: 11px;
}

.txt-bene4 {
	padding-top: 100px;
	text-align: center;
	font-size: 21px;
	color: white;
}

.cont-apart {	width: 600px;
	height: 300px;
	margin: auto;
	margin-top: -750px;
}

.apart {
	color: #248592;
	margin: 0px 0px 15px;
	font-size: 62px;
	text-align: center;
}

.txt-apart {
	color: #252525;
	margin: 0px 0px 15px;
	text-align: center;
	font-size: 21px;
}