* {
	scroll-behavior: auto;
}

body {
	background-color: white;
}

.fondo1 {
	background-image: url(ImgsV8/resort.jpg);
	width: 1366px;
	height: 768px;
}

.fondo2 {
	background-image: url(ImgsV8/playa.jpeg);
	width: 1366px;
	height: 768px;
	margin-top: 500px;
}

.nav-off {
	background-color: white;
	width: 980px;
	height: 80px;
	margin: auto;
	margin-top: -700px;
	text-align: center;
	font-size: 18px; 
	position: sticky;
	top: 0px;
}

.links1 {
	display: block;
	margin-left: -562px;
	margin-top: -50px;
}

.links2 {
	display: block;
	margin-left: -280px;
	margin-top: -20px;
}

.links3 {
	display: block;
	margin-right: 71px;
	margin-top: -20px;
}

.links3 {
	display: block;
	margin-left: 100px;
	margin-top: -20px;
}

.links4 {
	display: block;
	margin-left: 275px;
	margin-top: -20px;
}

.links5 {
	display: block;
	margin-left: 500px;
	margin-top: -20px;
}

.links6 {
	display: block;
	margin-left: 840px;
	margin-top: -20px;
}

.home {
	width: 150px;
	height: 80px;
	display: block;
	margin-left: 6px;
	margin-bottom: -25px;
}

.tema1 {
	font-family: ;
	color: rgb(0, 80, 255);
	text-align: center;
	font-size: 35px;
	margin-top: 780px;
}

.txt1 {
	color: black;
	text-align: center;
	margin-top: -35px;
	font-size: 22px;
}
